<div class="dashboard justify-start">
  <h3 class="px-5 text-xl">Dshboard</h3>
  <div class="flex">
    <div class="flex">
      <div class="bg-white px-14 py-10 m-5 text-center">
        <h2 class="text-6xl font-bold">23</h2>
        <p>Quizzes Number</p>
      </div>
    </div>
    <div class="flex">
      <div class="bg-white px-14 py-10 m-5 text-center">
        <h2 class="text-6xl font-bold">53</h2>
        <p>Questions Number</p>
      </div>
    </div>
    <div class="flex">
      <div class="bg-white px-14 py-10 m-5 text-center">
        <h2 class="text-6xl font-bold">3</h2>
        <p>Users Number</p>
      </div>
    </div>
  </div>
</div>
