<div class="categories p-5">
  <div class="flex justify-between">
    <h3 class="text-xl">
      <fa-icon [icon]="faPlay" class="text-blue-600 mr-2 text-sm"></fa-icon> Categories list
    </h3>
    <button routerLink="/private/category-add" class="bg-blue-600 text-white rounded px-4 py-2  hover:bg-blue-500">Add Category</button>
  </div>
  <div class="category flex justify-start items-center  mt-5 mb-2 text-gray-600 text-xs">
    <div class="px-8">#</div>
    <div class="px-5">
      <div class="">Category name</div>
    </div>
    <div class="text-right flex-grow">
      actions
    </div>
  </div>
  <div *ngFor="let c of categories" class="category flex justify-start items-center bg-white p-3 mt-2 mb-2 hover:bg-blue-100 cursor-pointer">
    <div class="bg-blue-200 text-blue-700 px-5 py-3 rounded mr-4">{{c.id}}</div>
    <div class="ml-3">
      <div class="">{{c.name}}</div>
      <div class="text-xs text-gray-600">last update 12/12/2022</div>
    </div>
    <div class="text-right flex-grow">
      <fa-icon [icon]="faEdit" class="mx-2 hover:text-blue-700"></fa-icon>
      <fa-icon [icon]="faTrashAlt" class="mx-2 hover:text-blue-700"  (click)="onDeleteCategory(c.id)"></fa-icon>
    </div>
  </div>
  <div *ngIf="!categories" class="p-3 rounded bg-red-100 text-red-900 m-2 text-center">
    <h3>No Data Found</h3>
  </div>
</div>
